@font-face {
  font-family: MadaniArabic-Regular;
  font-display: swap;
  src: url("../webfonts/Madani Arabic Regular.ttf");
}
@font-face {
  font-family: MadaniArabic-SemiBold;
  font-display: swap;
  src: url("../webfonts/Madani Arabic Semi Bold.ttf");
}
* {
  font-family: "MadaniArabic-Regular";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background-color: #eee;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  outline: none;
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

button:focus {
  outline: 0;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

body {
  background-color: #f3f3f9;
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  min-height: 74.008px;
  background: #ffffff;
  padding: 12px 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1024;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
header .container {
  padding: 15px;
  max-width: 1280px;
  height: 50.01px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  flex: 1 0 0;
}
@media (max-width: 991px) {
  header .container {
    gap: 24px;
  }
}
header .container .header-logo {
  width: 143.283px;
  height: 50.008px;
  order: 1;
  cursor: pointer;
}
@media (max-width: 991px) {
  header .container .header-logo {
    order: 3;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
header .container .menu-icon {
  height: 50px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  order: 5;
}
@media (max-width: 991px) {
  header .container .menu-icon {
    display: flex;
  }
}
header .container .menu-icon img {
  width: 30px;
  aspect-ratio: 1/1;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
header .container .navList {
  display: flex;
  max-width: 1280px;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  order: 2;
}
@media (max-width: 991px) {
  header .container .navList {
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 74px;
    left: 0;
    background: #ffffff;
    padding: 20px 0;
    display: none;
  }
  header .container .navList.open {
    display: flex;
  }
}
header .container .navList li {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  color: #0d0d0d;
  transition: all 0.3s ease-in-out ease-out;
  -webkit-transition: all 0.3s ease-in-out ease-out;
  -moz-transition: all 0.3s ease-in-out ease-out;
  -ms-transition: all 0.3s ease-in-out ease-out;
  -o-transition: all 0.3s ease-in-out ease-out;
}
header .container .navList li a {
  color: var(--Dark, var(--White, #0d0d0d));
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .container .user-info {
  display: flex;
  padding: 4px 4px 4px 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  background: rgba(29, 150, 143, 0.08);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  cursor: pointer;
  order: 3;
}
@media (max-width: 991px) {
  header .container .user-info {
    padding: 4px;
    order: 2;
  }
}
header .container .user-info .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
@media (max-width: 991px) {
  header .container .user-info .user-avatar {
    width: 40px;
    height: 40px;
  }
}
header .container .user-info .user-avatar img {
  width: 40px;
  height: 40px;
}
header .container .user-info .user-name {
  color: var(--Dark, #0d0d0d);
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 991px) {
  header .container .user-info .user-name {
    display: none;
  }
}
header .container .authBtn {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  background: var(--Main, #1d968f);
  color: #ffffff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  order: 4;
}
@media (max-width: 991px) {
  header .container .authBtn {
    order: 1;
    font-size: 13px;
    padding: 6px 16px;
  }
}

content {
  width: 100%;
  top: 74.008px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  background-color: #ffffff;
}
content .mainSlider {
  position: relative;
  display: flex;
  width: 100%;
  height: 720px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  background: linear-gradient(0deg, rgba(30, 34, 44, 0.35) 0%, rgba(30, 34, 44, 0.35) 100%), url("../assets/slideshow-img-01.webp") lightgray 50%/cover no-repeat;
}
content .mainSlider .swiper-wrapper {
  width: 100%;
  height: 100%;
}
content .mainSlider .swiper-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(30, 34, 44, 0.35);
  z-index: 999;
}
content .mainSlider .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
content .mainSlider .swiper-wrapper .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
content .mainSlider .swiperControl {
  width: calc(100% - 160px);
  position: absolute;
  bottom: 32px;
  left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  z-index: 9999;
}
@media (max-width: 768px) {
  content .mainSlider .swiperControl {
    width: calc(100% - 80px);
    left: 40px;
  }
}
content .mainSlider .swiperControl .swiperBtns {
  display: flex;
  width: 666px;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}
content .mainSlider .swiperControl .swiperBtns .mainSliderPrev,
content .mainSlider .swiperControl .swiperBtns .mainSliderNext {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 5px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 83.333px;
  border: 1px solid #ffffff;
}
@media (max-width: 768px) {
  content .mainSlider .swiperControl .swiperBtns .mainSliderPrev,
  content .mainSlider .swiperControl .swiperBtns .mainSliderNext {
    width: 30px;
    height: 30px;
  }
}
content .mainSlider .swiperControl .swiperBtns .mainSliderPrev::after,
content .mainSlider .swiperControl .swiperBtns .mainSliderNext::after {
  content: "";
  width: 20px;
  height: 10.049px;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  content .mainSlider .swiperControl .swiperBtns .mainSliderPrev::after,
  content .mainSlider .swiperControl .swiperBtns .mainSliderNext::after {
    width: 15px;
    height: 15px;
  }
}
content .mainSlider .swiperControl .swiperBtns .mainSliderPrev.swiper-button-disabled,
content .mainSlider .swiperControl .swiperBtns .mainSliderNext.swiper-button-disabled {
  opacity: 0.2;
}
content .mainSlider .swiperControl .mainSliderNext::after {
  background-image: url("../assets/leftWhiteArrow.svg");
}
content .mainSlider .swiperControl .mainSliderPrev::after {
  background-image: url("../assets/rightWhiteArrow.svg");
}
content .mainSlider .swiperControl .swiper-pagination {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
content .mainSlider .swiperControl .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 768px) {
  content .mainSlider .swiperControl .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}
content .mainSlider .swiperControl .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffffff;
}
content .mainSlider .slider-content {
  position: absolute;
  right: 80px;
  top: 50%;
  display: flex;
  max-width: 450px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 9999;
}
@media (max-width: 768px) {
  content .mainSlider .slider-content {
    width: 100%;
    padding: 0 15px;
    right: unset;
  }
}
content .mainSlider .slider-content .slider-content-heading {
  align-self: stretch;
  color: #ffffff;
  text-align: right;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
content .mainSlider .slider-content .slider-content-paragraph {
  align-self: stretch;
  color: #ffffff;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 1.6;
}
content .identify-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0;
}
@media (max-width: 768px) {
  content .identify-section {
    gap: 40px;
  }
}
content .identify-section .identify-box {
  position: relative;
  width: 100%;
  display: flex;
  padding: 0px 120px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  content .identify-section .identify-box {
    flex-direction: column-reverse;
    padding: 0 15px;
    gap: 20px;
  }
}
content .identify-section .identify-box .identify-img-container {
  height: 100%;
  width: 50%;
  display: flex;
}
@media (max-width: 768px) {
  content .identify-section .identify-box .identify-img-container {
    width: 100%;
    height: 50%;
  }
}
content .identify-section .identify-box .identify-img-container img {
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  content .identify-section .identify-box.bottom-box {
    flex-direction: column;
  }
}
content .identify-section .identify-box.bottom-box .identify-content {
  padding-right: 40px;
  padding-left: 0;
}
@media (max-width: 768px) {
  content .identify-section .identify-box.bottom-box .identify-content {
    padding-right: 0;
  }
}
content .identify-section .identify-box .identify-content {
  display: flex;
  padding-left: 40px;
  padding-right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  flex: 1 0 0;
}
@media (max-width: 768px) {
  content .identify-section .identify-box .identify-content {
    padding-left: 0;
  }
}
content .identify-section .identify-box .identify-content .identify-content-title {
  align-self: stretch;
  color: #0d0d0d;
  text-align: right;
  font-family: "MadaniArabic-SemiBold";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  content .identify-section .identify-box .identify-content .identify-content-title {
    text-align: center;
  }
}
content .identify-section .identify-box .identify-content .identify-content-subtitle {
  align-self: stretch;
  color: #1d968f;
  text-align: right;
  font-family: "MadaniArabic-SemiBold";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
content .identify-section .identify-box .identify-content .identify-content-paragraph {
  align-self: stretch;
  color: #666b88;
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
content .identify-section .identify-box .identify-content .identify-content-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}
content .identify-section .identify-box .identify-content .identify-content-list .identify-content-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
  color: #666b88;
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  content .identify-section .identify-box .identify-content .identify-content-list .identify-content-list-item {
    align-items: center;
  }
}

.steps {
  padding: 50px 0 30px;
  background-color: rgba(181, 186, 161, 0.1019607843);
}
.steps .container {
  width: min(100%, 1280px);
  padding: 0 8px;
  margin: auto;
}
.steps .container .SectionTitle {
  position: relative;
  padding: 30px;
  text-align: center;
}
.steps .container .SectionTitle .title {
  font-weight: bold;
  color: #1d968f;
  margin-bottom: 10px;
}
.steps .container .SectionTitle .hint {
  color: #666b88;
}
.steps .allSteps {
  display: flex;
  padding: 20px 0px;
  margin-top: 30px;
  text-align: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 678px) {
  .steps .allSteps {
    flex-direction: column;
  }
}
.steps .allSteps::before {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #1d968f;
  position: absolute;
  top: 50%;
  left: 0;
}
@media (max-width: 678px) {
  .steps .allSteps::before {
    display: none;
  }
}
.steps .allSteps .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 250px;
  width: 100%;
}
@media (max-width: 678px) {
  .steps .allSteps .step {
    height: auto;
    padding-top: 70px;
    padding-bottom: 40px;
  }
}
.steps .allSteps .step::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px dashed #1d968f;
  background-color: #1d968f;
  border-radius: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
@media (max-width: 678px) {
  .steps .allSteps .step::after {
    top: 0;
    bottom: unset;
  }
}
.steps .allSteps .step:nth-child(1):after {
  content: "1";
}
.steps .allSteps .step:nth-child(2):after {
  content: "2";
}
.steps .allSteps .step:nth-child(3):after {
  content: "3";
}
.steps .allSteps .step:nth-child(4):after {
  content: "4";
}
.steps .allSteps .step:nth-child(5):after {
  content: "5";
}
.steps .allSteps .step::before {
  content: "";
  width: 2px;
  height: 15px;
  border-left: 1px dashed #1d968f;
  border-radius: 100px;
  position: absolute;
  bottom: 30px;
  left: calc(50% + 1px);
  transform: translateX(-50%);
  z-index: 2;
}
@media (max-width: 678px) {
  .steps .allSteps .step::before {
    top: -15px;
    height: 60px;
    bottom: unset;
  }
}
@media (max-width: 678px) {
  .steps .allSteps .step:first-child::before {
    top: 0;
    height: 45px;
  }
}
.steps .allSteps .step .images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.steps .allSteps .step .images img {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 2px;
  height: 40px;
  width: 60px;
  border-radius: 8px;
}
.steps .allSteps .step .icon {
  position: relative;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}
.steps .allSteps .step .icon i {
  font-size: 40px;
  color: #1d968f;
}
.steps .allSteps .step .icon::after {
  content: "";
  width: 80px;
  height: 50px;
  background-color: #b4b9a1;
  opacity: 0.3;
  position: absolute;
  left: calc(50% - 44px);
  top: 12px;
  transform: skewX(-55deg) rotateX(60deg) rotateY(14deg);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.steps .allSteps .step:nth-child(even) {
  margin-top: 220px;
  padding-bottom: 0px;
  padding-top: 60px;
}
@media (max-width: 678px) {
  .steps .allSteps .step:nth-child(even) {
    margin-top: unset;
    padding-bottom: 30px;
    padding-top: 70px;
  }
}
.steps .allSteps .step:nth-child(even)::after {
  bottom: unset;
  top: 0;
}
.steps .allSteps .step:nth-child(even)::before {
  top: 30px;
  bottom: unset;
}
@media (max-width: 678px) {
  .steps .allSteps .step:nth-child(even)::before {
    top: -15px;
  }
}
.steps .allSteps .step:hover .icon::after {
  transform: skewX(-25deg) rotateX(30deg) rotateY(8deg);
}

.parteners-section {
  display: flex;
  width: 100%;
  padding: 60px 0px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #ffffff;
}
.parteners-section .parteners-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  padding: 0 15px;
}
.parteners-section .parteners-heading h4 {
  color: #1d968f;
  text-align: right;
  font-family: MadaniArabic-SemiBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.parteners-section .parteners-heading p {
  max-width: 450px;
  color: #666b88;
  text-align: center;
  font-family: MadaniArabic-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.parteners-section .parteners-heading .section-line {
  width: 140px;
  height: 2px;
  background-color: #1d968f;
}
.parteners-section .partnersSlider {
  position: relative;
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.parteners-section .partnersSlider .swiper-wrapper {
  display: flex;
  position: relative;
  align-items: center;
}
.parteners-section .partnersSlider .swiper-wrapper .swiper-slide {
  display: flex;
  padding: 4px 40px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.parteners-section .partnersSlider .swiper-wrapper .swiper-slide img {
  width: 180px;
  height: 180px;
}
.parteners-section .partnersSlider .swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.parteners-section .partnersSlider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #1d968f;
  opacity: 0.4;
}
.parteners-section .partnersSlider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.news-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
  background-color: rgba(181, 186, 161, 0.1019607843);
}
.news-section .container {
  display: flex;
  padding: 0px 80px;
  flex-direction: column;
  align-items: flex-end;
  gap: 48px;
  align-self: stretch;
}
@media (max-width: 768px) {
  .news-section .container {
    padding: 0 40px;
    gap: 30px;
  }
}
.news-section .container .news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
@media (max-width: 678px) {
  .news-section .container .news-header {
    flex-direction: column;
    gap: 40px;
  }
}
.news-section .container .news-header .news-header-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.news-section .container .news-header .news-header-heading h4 {
  color: var(--Main, #1d968f);
  text-align: right;
  font-family: MadaniArabic-SemiBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.news-section .container .news-header .news-header-heading p {
  color: var(--Text, #666b88);
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.news-section .container .news-header .newsSwiperControl {
  position: relative;
}
@media (max-width: 678px) {
  .news-section .container .news-header .newsSwiperControl {
    width: 100%;
  }
}
.news-section .container .news-header .newsSwiperControl .swiperBtns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
@media (max-width: 678px) {
  .news-section .container .news-header .newsSwiperControl .swiperBtns {
    width: 100%;
    justify-content: space-around;
    gap: 20px;
  }
}
.news-section .container .news-header .newsSwiperControl .swiperBtns .NewsPrev,
.news-section .container .news-header .newsSwiperControl .swiperBtns .NewsNext {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 5px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 83.333px;
  border: 1px solid #1d968f;
  background: #ffffff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.news-section .container .news-header .newsSwiperControl .swiperBtns .NewsPrev::after,
.news-section .container .news-header .newsSwiperControl .swiperBtns .NewsNext::after {
  content: "";
  width: 20px;
  height: 10.049px;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .news-section .container .news-header .newsSwiperControl .swiperBtns .NewsPrev::after,
  .news-section .container .news-header .newsSwiperControl .swiperBtns .NewsNext::after {
    width: 15px;
    height: 15px;
  }
}
.news-section .container .news-header .newsSwiperControl .swiperBtns .NewsPrev.swiper-button-disabled,
.news-section .container .news-header .newsSwiperControl .swiperBtns .NewsNext.swiper-button-disabled {
  opacity: 0.2;
}
.news-section .container .news-header .newsSwiperControl .swiperBtns .NewsNext::after {
  background-image: url("../assets/leftColorArrow.svg");
}
.news-section .container .news-header .newsSwiperControl .swiperBtns .NewsPrev::after {
  background-image: url("../assets/rightColorArrow.svg");
}
.news-section .container .news-content {
  width: 100%;
  position: relative;
}
.news-section .container .news-content.row {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  cursor: grab;
}
.news-section .container .news-content.row .news-link-box {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.news-section .container .news-content.row .news-link-box .news-img-container {
  width: 100%;
  height: 250px;
  display: flex;
}
.news-section .container .news-content.row .news-link-box .news-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-section .container .news-content.row .news-link-box .data {
  display: flex;
  padding-left: 16px;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  align-self: stretch;
}
.news-section .container .news-content.row .news-link-box .data h5 {
  width: 100%;
  align-self: stretch;
  color: #0d0d0d;
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-section .container .news-content.row .news-link-box .data p {
  align-self: stretch;
  color: #666b88;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  font-family: MadaniArabic-Regular;
}
.news-section .container .news-content.row .news-link-box .data p.news-paragraph-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.contact-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.contact-section .contact-info-form-section {
  display: flex;
  padding: 60px 80px 40px 80px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .contact-section .contact-info-form-section {
    flex-direction: column;
    padding: 30px 40px 20px 40px;
  }
}
.contact-section .contact-info-form-section .contact-info {
  display: flex;
  width: 421px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 8px;
  background: rgba(29, 150, 143, 0.08);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.02);
}
@media (max-width: 768px) {
  .contact-section .contact-info-form-section .contact-info {
    width: 100%;
  }
}
.contact-section .contact-info-form-section .contact-info h4 {
  width: 100%;
  color: var(--Dark, var(--White, #0d0d0d));
  text-align: right;
  font-family: MadaniArabic-SemiBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-section .contact-info-form-section .contact-info .contact-info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  align-self: stretch;
}
.contact-section .contact-info-form-section .contact-info .contact-info-list .contact-info-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.contact-section .contact-info-form-section .contact-info .contact-info-list .contact-info-list-item .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.01px;
}
.contact-section .contact-info-form-section .contact-info .contact-info-list .contact-info-list-item .text p {
  color: var(--Text, #666b88);
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-section .contact-info-form-section .contact-info .contact-info-list .contact-info-list-item .text p.heading {
  color: #0d0d0d;
}
.contact-section .contact-info-form-section .contact-info .contact-info-list .contact-info-list-item .icon {
  display: flex;
  height: 64px;
  min-width: 64px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: 2px solid #1d968f;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.contact-section .contact-info-form-section .contact-info .contact-info-list .contact-info-list-item .icon img {
  width: 24px;
  height: 24px;
}
.contact-section .contact-info-form-section .contact-form {
  max-width: 100%;
  display: flex;
  padding: 40px 20px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px 20px;
  flex: 1 0 0;
  align-self: stretch;
  flex-wrap: wrap;
  border-radius: 8px;
  background: rgba(29, 150, 143, 0.08);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.02);
  position: relative;
}
.contact-section .contact-info-form-section .contact-form .inputfield {
  display: flex;
  height: 58px;
  padding: 16px 8px 0px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  max-width: 100%;
  position: relative;
  max-width: 100%;
  min-width: 380px;
  flex: 1;
}
@media (max-width: 768px) {
  .contact-section .contact-info-form-section .contact-form .inputfield {
    min-width: 100%;
    width: 100%;
  }
}
.contact-section .contact-info-form-section .contact-form .inputfield.textareaField {
  height: 123px;
}
.contact-section .contact-info-form-section .contact-form .inputfield.textareaField label {
  top: 0;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}
.contact-section .contact-info-form-section .contact-form .inputfield label {
  color: var(--Text, #666b88);
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 0;
  order: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.contact-section .contact-info-form-section .contact-form .inputfield .highlight {
  height: 1px;
  flex-shrink: 0;
  align-self: stretch;
  background: rgba(29, 150, 143, 0.2);
  order: 3;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.contact-section .contact-info-form-section .contact-form .inputfield input,
.contact-section .contact-info-form-section .contact-form .inputfield textarea {
  height: 58px;
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
  order: 2;
}
.contact-section .contact-info-form-section .contact-form .inputfield input:focus + label,
.contact-section .contact-info-form-section .contact-form .inputfield textarea:focus + label {
  top: 0;
  font-weight: 800;
}
.contact-section .contact-info-form-section .contact-form .inputfield textarea {
  width: 100%;
  height: 123px;
  resize: none;
}
.contact-section .contact-info-form-section .contact-form .inputfield textarea:focus + label {
  top: -20px;
}
.contact-section .contact-info-form-section .contact-form .btnBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contact-section .contact-info-form-section .contact-form .btnBox button {
  display: flex;
  width: 197px;
  height: 50px;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid #1d968f;
  color: #1d968f;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.contact-section .contact-info-form-section .contact-form .btnBox button:hover {
  background-color: #1d968f;
  color: #ffffff;
}
.contact-section .map-section {
  width: 100%;
}

footer {
  display: flex;
  width: 100%;
  padding: 40px 80px;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  footer {
    padding: 40px;
  }
}
footer .container {
  display: flex;
  gap: 0 15px;
  align-items: flex-start;
  gap: 64px;
}
@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
    gap: 40px;
  }
}
footer .container .about_company {
  display: flex;
  width: 368px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
@media (max-width: 768px) {
  footer .container .about_company {
    width: 100%;
  }
}
footer .container .about_company .footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  cursor: pointer;
}
@media (max-width: 768px) {
  footer .container .about_company .footerLogo {
    width: 100%;
    align-items: center;
  }
}
footer .container .about_company .footerLogo img {
  width: 143px;
  height: 50px;
}
footer .container .about_company .about-content {
  align-self: stretch;
  color: #666b88;
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .container .footerLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}
@media (max-width: 768px) {
  footer .container .footerLinks {
    width: 100%;
  }
}
footer .container .footerLinks h3 {
  color: #1d968f;
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .container .footerLinks .footerNavList {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}
footer .container .footerLinks .footerNavList li {
  display: flex;
  min-width: 150px;
  padding: 4px 8px;
  justify-content: flex-end;
  align-items: center;
}
footer .container .footerLinks .footerNavList li a {
  flex: 1 0 0;
  color: #0d0d0d;
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .container .support {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}
@media (max-width: 768px) {
  footer .container .support {
    width: 100%;
  }
}
footer .container .support h3 {
  color: #1d968f;
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .container .support .support-contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
footer .container .support .support-contact-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
footer .container .support .support-contact-list li p {
  color: #0d0d0d;
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .container .support .support-contact-list li img {
  width: 20px;
  height: 20px;
}
footer .container .support .support-contact-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  position: relative;
}
@media (max-width: 768px) {
  footer .container .support .support-contact-social {
    width: 100%;
    justify-content: center;
  }
}
footer .container .support .support-contact-social li {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
footer .container .support .support-contact-social li a {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 12px 13px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #0d0d0d;
}
footer .container .support .support-contact-social li a img {
  width: 40px;
  height: 40px;
}

.newsLanding {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
  align-self: stretch;
  position: relative;
}
.newsLanding::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1d968f;
  opacity: 0.5;
  z-index: 999;
}
.newsLanding img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.newsLanding .landing-text {
  display: flex;
  height: 360px;
  padding: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  position: relative;
  z-index: 9999;
}
.newsLanding .landing-text .landing-text-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.newsLanding .landing-text .landing-text-header p {
  color: #ffffff;
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.newsLanding .landing-text .landing-text-header img {
  width: 21.887px;
  height: 5.774px;
  position: relative;
}
.newsLanding .landing-text .landing-text-content {
  width: 100%;
  color: #ffffff;
  text-align: right;
  font-family: MadaniArabic-SemiBold;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.news-section-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 48px;
  position: relative;
  padding: 40px 0;
}
.news-section-container .container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 48px;
  padding: 0 40px;
}
.news-section-container .container .blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}
.news-section-container .container .blog .blog-img-container {
  height: 400px;
  width: 100%;
  display: flex;
}
.news-section-container .container .blog .blog-img-container img {
  width: 100%;
  height: 100%;
}
.news-section-container .container .blog p {
  width: 100%;
  position: relative;
  color: #0d0d0d;
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.news-section-container .container .blog p.blog-content {
  color: #666b88;
}
.news-section-container .container .moreBlogs {
  display: flex;
  width: 424px;
  padding: 16px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}
@media (max-width: 768px) {
  .news-section-container .container .moreBlogs {
    width: 100%;
  }
}
.news-section-container .container .moreBlogs h3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5.5px;
  position: relative;
}
.news-section-container .container .moreBlogs h3::after {
  content: "";
  width: 122px;
  height: 2px;
  background-color: #1d968f;
  position: absolute;
  bottom: -5px;
  right: 0;
}
.news-section-container .container .moreBlogs .moreBlogs-List {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}
.news-section-container .container .moreBlogs .moreBlogs-List .moreBlogs-List-item {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  position: relative;
}
@media (max-width: 768px) {
  .news-section-container .container .moreBlogs .moreBlogs-List .moreBlogs-List-item {
    flex-direction: column;
  }
}
.news-section-container .container .moreBlogs .moreBlogs-List .moreBlogs-List-item .moreblogs-img-container {
  width: 120px;
  height: 120px;
  display: flex;
}
@media (max-width: 768px) {
  .news-section-container .container .moreBlogs .moreBlogs-List .moreBlogs-List-item .moreblogs-img-container {
    width: 100%;
  }
}
.news-section-container .container .moreBlogs .moreBlogs-List .moreBlogs-List-item .moreblogs-img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.news-section-container .container .moreBlogs .moreBlogs-List .moreBlogs-List-item .moreblogs-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  position: relative;
}
.news-section-container .container .moreBlogs .moreBlogs-List .moreBlogs-List-item .moreblogs-item-content p {
  color: #0d0d0d;
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.news-section-container .container .moreBlogs .moreBlogs-List .moreBlogs-List-item .moreblogs-item-content p.item-content-heading {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .news-section-container .container .moreBlogs .moreBlogs-List .moreBlogs-List-item .moreblogs-item-content p.item-content-heading {
    white-space: wrap;
    height: 22px;
  }
}
.news-section-container .container .moreBlogs .moreBlogs-List .moreBlogs-List-item .moreblogs-item-content p.item-content-body {
  color: #666b88;
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*

              &.item-heading {
                width: 80%;
                color: $dark-color;
                font-size: 15px;

              }
            }
*//*# sourceMappingURL=style.css.map */