@font-face {
  font-family: MadaniArabic-Regular;
  font-display: swap;
  src: url("../webfonts/Madani Arabic Regular.ttf");
}
@font-face {
  font-family: MadaniArabic-SemiBold;
  font-display: swap;
  src: url("../webfonts/Madani Arabic Semi Bold.ttf");
}
* {
  font-family: "MadaniArabic-Regular";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background-color: #eee;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  outline: none;
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

button:focus {
  outline: 0;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

body {
  background-color: #f3f3f9;
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  min-height: 74.008px;
  background: #ffffff;
  padding: 12px 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1024;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
header .container {
  padding: 15px;
  max-width: 1280px;
  height: 50.01px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  flex: 1 0 0;
}
@media (max-width: 768px) {
  header .container {
    gap: 24px;
  }
}
header .container .logo {
  width: 143.283px;
  height: 50.008px;
  order: 1;
}
@media (max-width: 768px) {
  header .container .logo {
    order: 3;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
header .container .menu-icon {
  height: 50px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  order: 5;
}
@media (max-width: 768px) {
  header .container .menu-icon {
    display: flex;
  }
}
header .container .menu-icon img {
  width: 35px;
  aspect-ratio: 1/1;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
header .container .navList {
  display: flex;
  max-width: 1280px;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  order: 2;
}
@media (max-width: 768px) {
  header .container .navList {
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 74px;
    left: 0;
    background: #ffffff;
    padding: 20px 0;
    display: none;
  }
  header .container .navList.open {
    display: flex;
  }
}
header .container .navList li {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  color: #0d0d0d;
  transition: all 0.3s ease-in-out ease-out;
  -webkit-transition: all 0.3s ease-in-out ease-out;
  -moz-transition: all 0.3s ease-in-out ease-out;
  -ms-transition: all 0.3s ease-in-out ease-out;
  -o-transition: all 0.3s ease-in-out ease-out;
}
header .container .navList li a {
  color: var(--Dark, var(--White, #0d0d0d));
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .container .user-info {
  display: flex;
  padding: 4px 4px 4px 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  background: rgba(29, 150, 143, 0.08);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  cursor: pointer;
  order: 3;
}
@media (max-width: 768px) {
  header .container .user-info {
    padding: 4px;
    order: 2;
  }
}
header .container .user-info .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: url("../assets/user.png") lightgray 50%/cover no-repeat;
}
header .container .user-info .user-name {
  color: var(--Dark, #0d0d0d);
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  header .container .user-info .user-name {
    display: none;
  }
}
header .container .authBtn {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  background: var(--Main, #1d968f);
  color: #ffffff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  order: 4;
}
@media (max-width: 768px) {
  header .container .authBtn {
    order: 1;
  }
}

content {
  width: 100%;
  top: 74.008px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
}
content .mainSlider {
  position: relative;
  display: flex;
  width: 100%;
  height: 720px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  background: linear-gradient(0deg, rgba(30, 34, 44, 0.35) 0%, rgba(30, 34, 44, 0.35) 100%), url("../assets/slideshow-img-01.png") lightgray 50%/cover no-repeat;
}
content .mainSlider .swiper-wrapper {
  width: 100%;
  height: 100%;
}
content .mainSlider .swiper-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(30, 34, 44, 0.35);
  z-index: 999;
}
content .mainSlider .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
content .mainSlider .swiper-wrapper .swiper-slide img {
  aspect-ratio: 1/1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
content .mainSlider .swiperControl {
  width: calc(100% - 160px);
  position: absolute;
  bottom: 32px;
  left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  z-index: 9999;
}
@media (max-width: 768px) {
  content .mainSlider .swiperControl {
    width: calc(100% - 80px);
    left: 40px;
  }
}
content .mainSlider .swiperControl .swiperBtns {
  display: flex;
  width: 666px;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}
content .mainSlider .swiperControl .swiperBtns .mainSliderPrev,
content .mainSlider .swiperControl .swiperBtns .mainSliderNext {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 5px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 83.333px;
  border: 1px solid #ffffff;
}
@media (max-width: 768px) {
  content .mainSlider .swiperControl .swiperBtns .mainSliderPrev,
  content .mainSlider .swiperControl .swiperBtns .mainSliderNext {
    width: 30px;
    height: 30px;
  }
}
content .mainSlider .swiperControl .swiperBtns .mainSliderPrev::after,
content .mainSlider .swiperControl .swiperBtns .mainSliderNext::after {
  content: "";
  width: 20px;
  height: 10.049px;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  content .mainSlider .swiperControl .swiperBtns .mainSliderPrev::after,
  content .mainSlider .swiperControl .swiperBtns .mainSliderNext::after {
    width: 15px;
    height: 15px;
  }
}
content .mainSlider .swiperControl .swiperBtns .mainSliderPrev.swiper-button-disabled,
content .mainSlider .swiperControl .swiperBtns .mainSliderNext.swiper-button-disabled {
  opacity: 0.2;
}
content .mainSlider .swiperControl .mainSliderNext::after {
  background-image: url("../assets/leftArrow.svg");
}
content .mainSlider .swiperControl .mainSliderPrev::after {
  background-image: url("../assets/rightArrow.svg");
}
content .mainSlider .swiperControl .swiper-pagination {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
content .mainSlider .swiperControl .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 768px) {
  content .mainSlider .swiperControl .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}
content .mainSlider .swiperControl .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffffff;
}
content .mainSlider .slider-content {
  position: absolute;
  right: 80px;
  top: 50%;
  display: flex;
  max-width: 450px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 9999;
}
content .mainSlider .slider-content .slider-content-heading {
  align-self: stretch;
  color: #ffffff;
  text-align: right;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
content .mainSlider .slider-content .slider-content-paragraph {
  align-self: stretch;
  color: #ffffff;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 1.6;
}
content .identify-section {
  position: relative;
  width: 100%;
  display: flex;
  padding: 0px 120px;
  align-items: center;
  justify-content: center;
}
content .identify-section .identify-img-container {
  height: 100%;
  width: 50%;
}
content .identify-section .identify-img-container img {
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
content .identify-section .identify-content {
  display: flex;
  padding-left: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  flex: 1 0 0;
}
content .identify-section .identify-content .identify-content-title {
  align-self: stretch;
  color: #0d0d0d;
  text-align: right;
  font-family: "MadaniArabic-SemiBold";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
content .identify-section .identify-content .identify-content-subtitle {
  align-self: stretch;
  color: #1d968f;
  text-align: right;
  font-family: "MadaniArabic-SemiBold";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
content .identify-section .identify-content .identify-content-paragraph {
  align-self: stretch;
  color: #666b88;
  text-align: right;
  font-family: MadaniArabic-Regular;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.SectionTitle {
  position: relative;
  padding: 30px;
  text-align: center;
}
.SectionTitle .title {
  font-weight: bold;
  font-size: 50px !important;
  color: #1d968f;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .SectionTitle .title {
    font-size: 28px !important;
  }
}
.SectionTitle .hint {
  color: #666b88;
}

.steps {
  padding: 50px 0 30px;
  background-color: rgba(181, 186, 161, 0.1019607843);
}
.steps .container {
  width: min(100%, 1280px);
  padding: 0 8px;
  margin: auto;
}
.steps .allSteps {
  display: flex;
  padding: 20px 0px;
  margin-top: 30px;
  text-align: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 678px) {
  .steps .allSteps {
    flex-direction: column;
  }
}
.steps .allSteps::before {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #1d968f;
  position: absolute;
  top: 50%;
  left: 0;
}
@media (max-width: 678px) {
  .steps .allSteps::before {
    display: none;
  }
}
.steps .allSteps .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 250px;
  width: 100%;
}
@media (max-width: 678px) {
  .steps .allSteps .step {
    height: auto;
    padding-top: 70px;
    padding-bottom: 40px;
  }
}
.steps .allSteps .step::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px dashed #1d968f;
  background-color: #1d968f;
  border-radius: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
@media (max-width: 678px) {
  .steps .allSteps .step::after {
    top: 0;
    bottom: unset;
  }
}
.steps .allSteps .step:nth-child(1):after {
  content: "1";
}
.steps .allSteps .step:nth-child(2):after {
  content: "2";
}
.steps .allSteps .step:nth-child(3):after {
  content: "3";
}
.steps .allSteps .step:nth-child(4):after {
  content: "4";
}
.steps .allSteps .step:nth-child(5):after {
  content: "5";
}
.steps .allSteps .step::before {
  content: "";
  width: 2px;
  height: 15px;
  border-left: 1px dashed #1d968f;
  border-radius: 100px;
  position: absolute;
  bottom: 30px;
  left: calc(50% + 1px);
  transform: translateX(-50%);
  z-index: 2;
}
@media (max-width: 678px) {
  .steps .allSteps .step::before {
    top: -15px;
    height: 60px;
    bottom: unset;
  }
}
@media (max-width: 678px) {
  .steps .allSteps .step:first-child::before {
    top: 0;
    height: 45px;
  }
}
.steps .allSteps .step .images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.steps .allSteps .step .images img {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 2px;
  height: 40px;
  width: 60px;
  border-radius: 8px;
}
.steps .allSteps .step .icon {
  position: relative;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}
.steps .allSteps .step .icon i {
  font-size: 40px;
  color: #1d968f;
}
.steps .allSteps .step .icon::after {
  content: "";
  width: 80px;
  height: 50px;
  background-color: #b4b9a1;
  opacity: 0.3;
  position: absolute;
  left: calc(50% - 44px);
  top: 12px;
  transform: skewX(-55deg) rotateX(60deg) rotateY(14deg);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.steps .allSteps .step:nth-child(even) {
  margin-top: 220px;
  padding-bottom: 0px;
  padding-top: 60px;
}
@media (max-width: 678px) {
  .steps .allSteps .step:nth-child(even) {
    margin-top: unset;
    padding-bottom: 30px;
    padding-top: 70px;
  }
}
.steps .allSteps .step:nth-child(even)::after {
  bottom: unset;
  top: 0;
}
.steps .allSteps .step:nth-child(even)::before {
  top: 30px;
  bottom: unset;
}
@media (max-width: 678px) {
  .steps .allSteps .step:nth-child(even)::before {
    top: -15px;
  }
}
.steps .allSteps .step:hover .icon::after {
  transform: skewX(-25deg) rotateX(30deg) rotateY(8deg);
}/*# sourceMappingURL=style.css.map */